body{
    
 height: 100%;
 width: 100%;
    }
  
 

.d1{
    margin-left: 170px;
    color: blueviolet;
    padding: 5px;
    font-size: 20px;
    
}

.d2 ,nav, ul , li
{
 margin-left: 110px;
 font-size: 12px;
 
  
}
.d1,d2{
    float: left;
}

.par-1{
    color:black;
    font-weight: 600;
    line-height: 30px;
}
.hr-one{
    
    margin-top: 5px;
}

    nav>ul
    {
        
        height:40px;
        line-height:30px;
        font-size: 20px;
        margin-left: 100px;
        list-style-type: none;
        }

        
        nav>ul>li 
        {
       
        float:left;
        }

        nav>ul>li  >a{
            text-decoration:none;
            color: dodgerblue;
            font-size:17px;
          
            }
            nav>ul>li  >a:hover
            {
               color: red;
                
                }


           .section-One
           {
                
               width: 900px;
               height: 290px;
               
            }
            .section-Two
            {
                 
                width: 900px;
                height: 500px;
            }
        
            .par-three{
               margin-right: 700px;
               font-size: 22px;
               color:rgb(161, 153, 153);
            }
            .d3>img{
               
              margin-left: 120px;
              height: 220px;
              width: 220px;
              border-radius:520px;
             
            }
            .d4{
            
             width:800px;
             height: 300px;
             margin-left: 30px;
            }
           
             
            .d3,d4{
                float: left;
            }
            .img1{
           width: 80%;
           height: 60%;
           border-radius: 20px;
            }
          




            .d5{
              
                height: 200px;
                width: 250px;
             
              }
              .d6{
             
                height: 200px;
                width: 250px;
            
              }
              .d7{
             
                height: 200px;
                width: 250px;
             
                
              }
              .d5,.d6,.d7{
                  float: left;
                  margin-left: 30px;
              }
          .par-two{
                  text-align: left;
                  line-height: 30px;
                  font-weight: 400;
                  font-size: 18px;
                  color: rgb(161, 153, 153);
  
    
              }


              .btn1{
                 background-color: darkblue;
                  border-radius: 100px;
                  margin-right: 20px;
                  width: 25%;
                  height: 15%;
                  border:0;
                  color: white;
                  font-weight: bold;
                 
              }
              .btn1:hover
              {
                color: white;
                background-color: green;
              }
              .btn2:hover
              {
                color: white;
                background-color: green;
              }
              .btn2{
                background-color: rgba(85, 93, 99, 0.137);
                border-radius: 100px;
                margin-right: 90px;
                width: 25%;
                height: 15%;
                border:0;
                color: blue;
                font-weight: 500px;
            }
            #footer-one > div
            {
               width: 900px;
               border-top: 1px;
               border-bottom: 0;
               border-right: 0;
               border-left: 0;
               border-style: solid;
            }
            #footer-one > div > p
            {
                float: left;
                margin-left: 30px;
                font-size: 12px;
            }
  
            #Links-Below>li
            {
                float: left;
                 
            }
           
            #Links-Below  ,   ul , li ,a
            {
                text-decoration: none;
                color: lightblue;
                font-size: 14px;
                list-style-type: none;
            }
            #Links-Below  ,   ul , li ,a:hover
            {
                color: blue;
            }
          
            .par-5{
                color: rgb(161, 153, 153);
                font-size: 12px;
            }

            .p2{
                color: royalblue;
                font-size: 16px;
                font-weight: 300;
            }
            .d8{
                height: 100px;
                width: 90%;
                margin-top: 580px;
                 border-bottom: 0;
                 border-left: 0;
                 border-top: 1px;
                 border-right: 0;
                 border-style:solid ;
                 border-top-color:rgb(161, 153, 153);
               
            }
            
        
           